<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">HTML Template for DIRECT_MAIL_SEND_TEMPLATE</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="${USERNAME}">
            Hello, USERNAME!
        </p>

        <p>Message From Administrator:</p>
        <p th:text="${MESSAGE}">
            message
        </p>

        <p>
            Regards, <br />
            <em>Administrator</em>
        </p>
    </body>
</html>