<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">HTML Template for PROJECT_ADMIN_AREA_RELATION_REMOVE</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        Hello, 
        <p th:text="${USERNAME}">
            USERNAME!
        </p>

        <p>
            Project by name <span th:text="${PROJECT_NAME_en}">PROJECT_NAME_en</span>
            has been removed from administration area 
            <span th:text="${AA_NAME_en}">AA_NAME_</span>
        </p>
        <p>Message From Administrator:</p>
        <p th:text="${MESSAGE}">
            message
        </p>

        <p>REMARKS:</p>
        <p th:text="${AA_REMARKS_en}">
            AA_REMARKS_
        </p>
        <p>
            Regards, <br />
            <em>Administrator</em>
        </p>
    </body>
</html>