<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">HTML Template for PROJECT_DEACTIVATE</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="${fullName}">
            Hello, fullName!
        </p>

        <p>
            Project with name <span th:text="${PROJECT_NAME_en}">PROJECT_NAME_en</span>
            has been deactivated
        </p>
        <p>Message From Administrator:</p>
        <p th:text="${message}">
            message
        </p>
        <br/>
		<br/>
        <br/>
		<br/>
        
        <p th:if="${INCLUDE_REMARKS} == 'true'" th:text="${REMARKS_en}">REMARKS_</p>
        <p th:if="${INCLUDE_REMARKS} == 'true'" ><small>#######################</small></p>
        <p th:if="${INCLUDE_REMARKS} == 'true'" th:text="${REMARKS_de}">REMARKS_</p>
        <p>
            Regards, <br />
            <em>Administrator</em>
        </p>
    </body>
</html>