<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">HTML Template for USER_PROJECT_RELATION_REMOVE</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="${fullName}">
            Hello, fullName!
        </p>

        <p>
            Project by name <span th:text="${PROJECT_NAME_en}">PROJECT_NAME_en</span>
            has been assigned to user <span th:text="${assignedUserName}">assignedUserName</span>
        </p>
        <p>Message From Administrator:</p>
        <p th:text="${message}">
            message
        </p>
        <p>
            Regards, <br />
            <em>Administrator</em>
        </p>
    </body>
</html>